# Auto detect text files and perform LF normalization
* text=auto
/*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Classes/Main.java to edit this template
 */
package aula.java.pkg2;

import javax.swing.JOptionPane;

/**
 *
 * @author Etec de Lins
 */
public class AulaJava2 {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // TODO code application logic here
        
        String opcao = JOptionPane.showInputDialog("Digite uma opção:");
        
        //solicita dos valores
        String num1 =  JOptionPane.showInputDialog ("Digite o primeiro valor");
        String num2 =  JOptionPane.showInputDialog ("Digite o segundo valor");
        
        //converte para double
        double n1 = Double.parseDouble(num1);
        double n2 = Double.parseDouble(num2);
        double resultado = 0;
        
        switch(opcao){
            case"+":
                resultado = n1 + n2;
                break;
            case"-":
                    resultado = n1 - n2;
                    break;
            case "*":
                resultado = n1 * n2;
                    break;
                    case "/":
                resultado = n1 / n2;
                    break;
                    default:
                    JOptionPane.showInputDialog(null, "Operação invalida");
                    break;
    }
         JOptionPane.showInputDialog(null,"O resultado é:" + resultado);
    }
}
